@model WebBanDienThoaiProject.Models.Banner

<div class="container mid_banner">
    <a href="@Model.LinkTo">
        <img src="~/Content/Images/@Model.ImageURL" alt="@Model.BannerName" />
    </a>
</div>
