@model IEnumerable<WebBanDienThoaiProject.Models.LoaiSanPham>

<div class="nav-item">
    <nav>
        <ul class="root">
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("DanhSachSanPhamTheoLoai", "SanPham", new { id = item.MaLoai })">
                        <i class="@item.Icon"></i>
                        <span>@item.TenLoai</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>
