@model WebBanDienThoaiProject.Models.Banner

<div class="container mid_banner">
    <a href="@Model.DuongDan">
        <img src="~/Content/Images/@Model.HinhAnh" alt="@Model.TenBanner" />
    </a>
</div>
