
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!--NAVBAR LOẠI SẢN PHẨM-->
    @Html.Action("ProductTypes", "Home")
    <h2><b>ABOUT US</b></h2>

</div>

